@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body

{   min-height: 100vh;
  background: linear-gradient(black, rgb(174, 174, 1));
}

header
{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo
{
    font-family: 'Poppins', sans-serif;
    color: yellow;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;

}

* {
  box-sizing: border-box;
  font-family: cursive;
}
  
  .column {
    float: left;
    padding: 100px;
    height: 800px;


  }
  
  .left {
    padding-left: 10px;
    width: 25%;
  }
  
  .right {
    padding-left: 20px;
    width: 75%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .shorts{
    color: yellow;
  }

  #col {
    column-count: 2;
    color: white;
  }
  #color{
    color: yellow;
  }

